<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <div th:each="user : ${users}">
        <span><a th:href="@{/users/{userId}(userId=${user.id})}" th:text="${user.id}"></a></span><br/>
        <span th:text="${user.username}"></span><br/>
        <span th:text="${user.name}"></span><br/>
        <span th:text="${user.password}"></span>
        <div th:each="account : ${user.accounts}">
            <span><a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.id},accountId=${account.id})}" th:text="${account.accountName}"></a></span>
        </div>
        <hr/>
    </div>
</body>
</html>